/* application styles */

/*

dark grey -> rgb(60, 69, 78)
medium grey -> rgb(125, 133, 141)
light grey -> rgb(210, 210, 211)
*/

body {
	font-family: Arial;
}

.login {
	max-width:400px;
}

a {
/*	color: rgb(125, 133, 141);
	background-color: rgb(210, 210, 211);*/
	text-decoration: none;
}

.table {
	color : #444;
}

.col  {
    /*border: 1px solid black;*/
    border-style: none;
	/*border: solid 1px rgb(125, 133, 141);*/
    margin-top: -1px;
    margin-right: -1px;
	background-color: white;
}

.col-custom,
.col-custom input {
	background-color: rgb(240, 240, 241);
}

.col, .col-50 {
	padding-top: 10px;
}

.item-divider-custom {
	/*border-style: none;*/
	border-style: solid 1px;
	border-color: rgb(125, 133, 141);
	background-color: rgb(0, 155, 255);
	color: #fff;
}

.item-divider-custom.active, .item-divider-custom.activated {
	border-color: #a2a2a2;
	background-color: rgb(0, 115, 255);
}

.col {
    border-color: #ddd;
}

.col input {
	text-align: center;
	color : #444;
}

.input-right {
	position: absolute;
	right: 0px;
}

.input-right input {
	text-align: right;
}

.price-type {
	border-top: none;
}

.comp-green {
	color: #fff;
	background-color: green;
}

@-webkit-keyframes card-green {
    0% {background-color: white;
    	  color: white;}
    10% {background-color: white;
    	  color: white;}
    100% {background-color: green;
    	color: #fff;}
}
.card-result .comp-green {
	color: #fff;
	background-color: green;
    -webkit-animation-name: card-green;
    -webkit-animation-duration: 4s;
}

.comp-red {
	color: #fff;
	background-color: red;
}

body.keyboard-open .has-footer {
	bottom: 0;
}

@-webkit-keyframes card {
    0% {border-color: white;
   		color: white;}
    10% {border-color: white;
    	  color: white;}
    100% {border-color: #444;
    	color: #444;}
}

.card-result {
	width:40%;
	min-width:200px;
	padding:20px 20px 20px 20px;
	color : #444;
	/*background-color: rgb(210, 210, 211);*/
	/*border: 3px solid rgb(0, 155, 255);*/
	border: 2px solid #444;
	/*border-radius: 5px;*/
	font-size: 1.3em;
    -webkit-animation-name: card;
    -webkit-animation-duration: 4s;
}

.card-result {
	background-color: white;
}
.card-result span {
	font-size:150%;
}

/* override some ionic.css styles*/

.bar.bar-dark {
	border-color: #111;
	background-color:rgb(60, 69, 78);
	color: #fff;
}

.button.button-positive {
	background-color: rgb(0, 155, 255);
}
.button.button-positive.active, .button.button-positive.activated {
	border-color: #a2a2a2;
	background-color: rgb(0, 115, 255);
}
.button.button-positive.button-clear {
	color: rgb(0, 115, 255);
}
.button.button-positive.button-outline {
	border-color: rgb(0, 115, 255);
	color: rgb(0, 115, 255);
}
.button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
	background-color: rgb(0, 115, 255);
}

.item-checkbox {
    border-style: none;
    white-space: normal;
    overflow: visible;
    padding-top: 6px;
    padding-bottom: 10px;
}

.checkbox input:before,
.checkbox .checkbox-icon:before {
	border-color: #ddd;
}
.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
	background: rgb(0, 155, 255);
	border-color: rgb(0, 155, 255);
}

.item-content {
    white-space: normal;
}

label.disabled,
label[disabled] {
	opacity: .4;
	cursor: default;
	pointer-events: none;
}

.item input[type=number]{
    width: 8em;
} 

.row input[type=number]{
    width: 5em;
} 

select option:empty {
	display:none
}

ion-checkbox {
	float: right;
}

.item-select select {
	white-space: normal;
}

/*@media screen and (min-width: 768px) and (max-width: 1278px) {*/
@media screen and (min-width: 768px) {
	.list .item-divider,
	.input-label,
	.item-select select,
	.input-right input,
	.button,
	.card-result,
	.row,
    .row-custom {
		font-size: 150%;
    }
	.item-checkbox,
	.item-divider-custom {
		font-size: 120%;
    }
	.item-note {
		font-size: 100%;
    }
	.row-custom input {
		font-size: 100%;
		height: 2.0em;
    }
	.row,
	.item-divider {
		line-height: 120%;
	}
	.card-result {
		font-size:170%;
		line-height: 110%;
	}
    a,
   	.item-input input {
		font-size: 120%;
    }
    .login {
    	max-width:500px;
    }
    .login input {
		height: 1.7em;
    }
    .col, .col-50 {
		padding-top: 12px;
	}
	.bar {
		height: 54px;
	}
	.bar img {
		height: 50px;
	}
}

/*@media screen and (min-width: 1279px) {
	.list .item-divider,
	.input-label,
	.item-select select,
	.item-input input,
	.input-right input,
	.button,
	.card-result,
	.row,
    .row-custom,
    a,
   	.item-input input {
		font-size: 170%;
    }
	.item-checkbox,
	.item-divider-custom {
		font-size: 140%;
    }
	.item-note {
		font-size: 100%;
    }
	.row-custom input {
		font-size: 110%;
		height: 2.3em;
    }
	.row,
	.item-divider {
		line-height: 150%;
	}
	.card-result {
		font-size:200%;
		line-height: 120%;
	}
	a {
		font-size: 150%;
    }
    .login {
    	max-width:600px;
		line-height: 3.0em;
    }
    .login input {
		height: 2.0em;
    }
    .col, .col-50 {
		padding-top: 15px;
	}
	.bar {
		height: 64px;
	}
	.bar img {
		height: 60px;
	}
}
*/

/* style test*/

/*.login-panel {
	background-color: white;
	max-width:500px;
}

.login .list-inset {
	background-color: white;
}

.main .item:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

ion-content {
	background-color:rgb(210, 210, 211);
}

.main .list-inset {
	background-color:rgb(210, 210, 211);
}

.item-input, .item-divider, .price-type {
    margin: 20px;
    border-radius: 7px;
}

.selling-price {
    margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}

.price-type {
    margin-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.main .item-input, .item-divider, .price-type {
	border-style: solid 1px;
	border-color: rgb(125, 133, 141);
}

.table {
    padding-right: 5px;
    padding-left: 5px;
}
*/
