<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Auth0's JS library -->
    <script src="lib/auth0.js/build/auth0.js"></script>
    <!-- auth0-angular -->
    <script src="lib/angular-auth0/dist/angular-auth0.js"></script>
    <!-- angular-jwt -->
    <script src="lib/angular-jwt/dist/angular-jwt.js"></script>

    <!-- angular-jwt -->
    <script src="lib/crypto-js/crypto-js.js"></script>

    <!-- your app's js -->
    <script src="data/auth0.variables.js"></script>
    <script src="js/app.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/loginSvc.js"></script>
    <script src="js/mainSvc.js"></script>
  </head>
  <body ng-app="standiBovin" ng-controller="inputPanelCtrl" class="platform-ios platform-cordova platform-webview">

    <ion-header-bar class="bar-dark">
      <h1 class="title">
        <center style="padding-top: 3px">
            <img src="img/Profit_logo_small.png" alt="Logo Profit4beef" height="37px" ng-hide="location.hash == '#/login'"> 
            <img src="img/Profit_icon.png" alt="Icon Profit4beef" height="37px" ng-show="location.hash == '#/login'"> 
        </center>
      </h1>
    </ion-header-bar>

    <ion-nav-view></ion-nav-view>

    <ion-footer-bar class="bar-dark hide-on-keyboard-open" ng-controller="LoginController as vm">
        <!-- <button class="button button-clear icon ion-gear-a" ui-sref="settings"></button> -->
        <button class="button button-clear" ng-show="false"></button>

        <button class="button button-clear icon icon-right ion-power" ng-click="vm.logout()" ng-disabled="!vm.isLoggedIn()">{{text.disconnect}} </button>
    </ion-footer-bar>
  </body>
</html>
