<ion-view view-title="{{text.appName}}" cache-view="false">
  <ion-content>

    <div class="faq" marked src="'data/faq.md'">
    </div>

    <br><br>
    <center>
      <button class="button button-positive" ng-click="goBack()">
        {{text.back}}
      </button>
    </center>
    <br>

  </ion-content>
</ion-view>
