<ion-view view-title="{{text.appName}}" ng-controller="LoginController as vm">
  <ion-content>
    <div class="login-panel">
    	<center>
  		  <img src="img/Profit_logo.png" alt="Logo Profit4beef" width="40%" style="min-width:150px;max-width:300px">
      </center>
    	<!--center>
  		  <img src="img/new-logo-small.png" alt="Logo Neovia" width="25%" style="max-width:100px">
      </center>
    	<br-->

      <center>
      	<div class="login">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="{{text.email}}" ng-model="vm.cred.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="{{text.password}}" ng-model="vm.cred.password" ng-keyup="$event.keyCode == 13 ? vm.login() : false;">
            </label>
          </div>
            <a href="" ng-click="vm.resetPassword()">{{text.forgotPassword}}</a>
            <br><br>
          <div class="padding">
            <button class="button button-block button-positive login" ng-click="vm.login()">{{text.login}}</button>
        		<ion-spinner ng-show="control.spinner"></ion-spinner>
      	    <!--button class="button button-block button-google icon ion-social-googleplus-outline" ng-click="vm.loginWithGoogle()">
      	      Login with Google
      	    </button-->
          </div>
        </div>
      </center>
    </div>
  </ion-content>
</ion-view>
