<ion-view view-title="{{text.appName}}" cache-view="false">
  <ion-content>

    <!-- Result header with days and profit -->

    <div class="container-card">
      <div class="card-result header">
        <div class="feed-profit-header">
          <div class="feed-profit-header-title">
            {{text.increaseFeedProfit}}
          </div>
          <div class="feed-profit-header-value" ng-class="comp.feedProfit > 0 ? 'positive-value' : 'negative-value'">
            <!--we do this because - is displayed but if its positive + is not displayed-->
            <span ng-if="comp.feedProfit > 0">+</span>
            {{comp.feedProfit}} {{text.currency}}
          </div>
        </div>

        <div class="fattening-days-header">
          <div class="fattening-days-header-title">
            {{text.fatteningDays}}
          </div>
          <div class="fattening-days-header-value"
               ng-class="comp.fatteningDayReduction > 0 ? 'positive-value' : 'negative-value'">
            <!--we do this because - is displayed but if its positive + is not displayed-->
            <span ng-if="comp.fatteningDayReduction > 0">+</span>
            {{comp.fatteningDayReduction}} {{text.days}}
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Result header with days and profit -->

    <!-- Bouton afficher Le détail des resultats -->
    <div class="table below-result-header" ng-if="!control.detailResultPanel">
      <div class="row" style="padding-left: 0!important;">
        <div class="col col-50 col-title">
          <div ng-click="toggleDetailResultPanel()">
            <div class=" parameters-title-collapsed">
              <i class="icon ion-plus-circled"></i>
              {{text.resultDetailMore}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Panneau déroulant + de résultats-->
    <div ng-if="control.detailResultPanel" class="below-result-header pannel-detail-result">
      <!--Ration 1 / ration 2 titles-->
      <div class="row" style="padding-left: 0!important;">
        <div class="col col-50 col-title">
          <div ng-click="toggleDetailResultPanel()">
            <div class="parameters-title-expanded">
              <i class="icon ion-minus-circled"></i>
              {{text.resultDetailMore}}
            </div>
          </div>
        </div>
        <div class="col result-feed-ration-container1">
          <div class="result-feed-ration-title1 capitalize">
            {{input.feed1}}
          </div>
        </div>
        <div class="col result-feed-ration-container2">
          <div class="result-feed-ration-title2 capitalize">
            {{input.feed2}}
          </div>
        </div>
      </div>

      <!-- Rations par vache -->
      <div class="row row-custom">
        <div class="col col-50">
          {{text.feedPrice}}
        </div>
        <div class="col col-custom">
          <center>
            {{comp.feed1Price}}
          </center>
        </div>
        <div class="col">
          <center>
            {{comp.feed2Price}}
          </center>
        </div>
      </div>

      <!-- Animaux engraissés par an / place -->
      <div class="row row-custom">
        <!-- ng-if="input.type == 'taurillon'"-->
        <div class="col col-50">{{text.fedPerPlace}}</div>
        <div class="col col-custom">
          <center>{{comp.fedPerPlace1}}</center>
        </div>
        <div class="col">
          <center>{{comp.fedPerPlace2}}</center>
        </div>
      </div>

      <!-- Marge à la place par an -->
      <div class="row row-custom">
        <!-- ng-if="input.type == 'taurillon'"-->
        <div class="col col-50">
          {{text.placeProfit}}
        </div>
        <div class="col col-custom">
          <center>
            {{comp.placeProfit1}}
          </center>
        </div>
        <div class="col">
          <center>
            {{comp.placeProfit2}}
          </center>
        </div>
      </div>

      <!-- Additifs -->
      <div class="row row-custom" ng-if="input.additive2 || input.additive1">
        <!-- ng-if="input.type == 'taurillon'"-->
        <div class="col col-50">
          {{text.additive}}
        </div>
        <div class="col col-custom additive-name ">
          <center>
            {{input.additive1}}
          </center>
        </div>
        <div class="col additive-name ">
          <center>
            {{input.additive2}}
          </center>
        </div>
      </div>
    </div>

    <!-- Bouton afficher parametres -->
    <div class="table" ng-if="!control.paramPanel">
      <div class="row" style="padding-left: 0!important;">
        <div class="col col-50 col-title">
          <div ng-click="toggleParams()">
            <div class="parameters-title-collapsed">
              <i class="icon ion-plus-circled"></i>
              {{text.parameters}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Panneau déroulant paramètres -->
    <div ng-if="control.paramPanel">
      <div class="table">
        <div class="row" style="padding-left: 0!important; padding-bottom: 0!important;">
          <div class="col col-50 col-title">
            <div ng-click="toggleParams()">
              <div class="parameters-title-expanded">
                <i class="icon ion-minus-circled"></i>
                {{text.parameters}}
              </div>
            </div>
          </div>
          <div class="col result-feed-ration-container1">

            <div class="result-feed-ration-title1 capitalize">
              {{input.feed1}}
            </div>
          </div>
          <div class="col result-feed-ration-container2">
            <div class="result-feed-ration-title2 capitalize">
              {{input.feed2}}
            </div>
          </div>
        </div>

        <div ng-if="caseFrance()">
          <div class="row row-custom" style="padding-top: 0!important;">
            <div class="col col-50">
              {{text.cornSilage}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.cornSilage[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.cornSilage[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.cornSilage[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.cornSilage[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom">
            <div class="col col-50">
              {{text.cereal}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.cereal[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.cereal[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.cereal[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.cereal[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom">
            <div class="col col-50">
              {{text.aliment36}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.aliment36[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.aliment36[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.aliment36[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.aliment36[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom">
            <div class="col col-50">
              {{text.aliment25}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.aliment25[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.aliment25[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.aliment25[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.aliment25[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom">
            <div class="col col-50">
              {{text.alimentComplete}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.alimentComplete[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.alimentComplete[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.alimentComplete[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.alimentComplete[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom">
            <div class="col col-50">
              {{text.forage}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.forage[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.forage[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.forage[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.forage[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom" ng-if="input.additive1">
            <div class="col col-50">
              {{input.additive1}}
              <br>
              <span class="item-note">
              {{text.paramsUnitAdditive}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.additive[0]" ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col"></div>
          </div>
          <div class="row row-custom" ng-if="input.additive2">
            <div class="col col-50">
              {{input.additive2}}
              <br>
              <span class="item-note">
              {{text.paramsUnitAdditive}}
            </span>
            </div>
            <div class="col col-custom">
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.additive[0]" ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
          <div class="row row-custom">
            <div class="col col-50">
              {{text.sanitaryPeriod}}
            </div>
            <div class="col col-custom">
              <center>
                <input type="number" ng-model="params.feed1.sanitaryPeriod" ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <input type="number" ng-model="params.feed2.sanitaryPeriod" ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
        </div>

        <div ng-if="!caseFrance()">
          <div class="row row-custom" style="padding-top: 0!important;">
            <div class="col col-50">
              {{text.nucleoGraoInteiro}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.nucleoGraoInteiro[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.nucleoGraoInteiro[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.nucleoGraoInteiro[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.nucleoGraoInteiro[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>

          <div class="row row-custom" style="padding-top: 0!important;">
            <div class="col col-50">
              {{text.milhoGraoInteiro}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.milhoGraoInteiro[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.milhoGraoInteiro[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.milhoGraoInteiro[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.milhoGraoInteiro[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>

          <div class="row row-custom" style="padding-top: 0!important;">
            <div class="col col-50">
              {{text.racaoConcentra}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>
            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.racaoConcentra[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.racaoConcentra[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.racaoConcentra[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.racaoConcentra[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>

          <div class="row row-custom" style="padding-top: 0!important;">
            <div class="col col-50">
              {{text.alimentoVolumoso}}
              <br>
              <span class="item-note">
              {{text.pricePerTonne}}
              <br>
              <br>
              {{text.paramsUnit2}}
            </span>
            </div>

            <div class="col col-custom">
              <center>
                <br>
                <input type="number" ng-model="params.feed1.alimentoVolumoso[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed1.alimentoVolumoso[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
            <div class="col">
              <center>
                <br>
                <input type="number" ng-model="params.feed2.alimentoVolumoso[0]"
                       ng-keypress="closeKeyboard($event)">
                <input type="number"
                       ng-model="params.feed2.alimentoVolumoso[1]"
                       ng-keypress="closeKeyboard($event)">
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <center>
      <button class="button button-positive" ui-sref="main">
        {{text.newComparison}}
      </button>
    </center>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
</ion-view>
