<ion-view view-title="{{text.appName}}" cache-view="false">
  <ion-content>
    <div class="list">
      <div class="item item-divider item-divider-custom">
          {{text.chooseLanguage}}
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{text.country}}
        </div>
        <select ng-model="input.language" ng-change="control.language=false">
          <option ng-repeat="item in languages">{{item}}</option>
        </select>
      </label>
    </div>

    <br><br>
    <center>
      <button class="button button-positive" ng-click="validSettings()">
        {{text.valid}}
      </button>
    </center>
    <br>

  </ion-content>
</ion-view>
