<ion-view view-title="{{text.appName}}" cache-view="false">
  <ion-content class="main">
    <br>
    <div class="list /*list-inset*/">

      <div class="item item-divider item-divider-custom">
          {{text.animals}}
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{text.type}}
        </div>
        <select ng-model="input.type" ng-change="getValuesFromType()" ng-disabled="types.length == 0">
          <option ng-repeat="item in types">{{item}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          {{text.breed}}
        </div>
        <select ng-model="input.breed" ng-change="getValuesFromBreed()" ng-disabled="breeds.length == 0">
          <option ng-repeat="item in breeds">{{item}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          {{text.inputWeight}}
        </div>
        <select ng-model="input.inputWeight" ng-change="getValuesFromInputWeight()" ng-disabled="inputWeights.length == 0">
          <option ng-repeat="item in inputWeights">{{item}}</option>
        </select>
      </label>

      <label class="item item-input">
        <div class="input-label">
          {{text.buyingPrice}}
        </div>
        <div class="input-right">
          <input type="number" ng-model="input.buyingPrice" ng-keypress="closeKeyboard($event)" placeholder="{{text.price}}">
        </div>
      </label>

      <label class="item item-input selling-price">
        <div class="input-label">
          {{text.sellingPrice}}
        </div>
        <div class="input-right">
          <input type="number" ng-model="input.sellingPrice" ng-keypress="closeKeyboard($event)" placeholder="{{text.price}}">
        </div>
      </label>

      <label class="item price-type">
        <div style="float:right">
          <ion-checkbox class="item-checkbox" ng-model="input.priceType1" ng-change="checkbox1Change()">{{text.priceType1}}</ion-checkbox>
          <ion-checkbox class="item-checkbox" ng-model="input.priceType2" ng-change="checkbox2Change()">{{text.priceType2}}</ion-checkbox>
        </div>
      </label>
      <br>
      <div class="item item-divider item-divider-custom">
          {{text.feedsToCompare}}
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{text.feed1}}
        </div>
        <select ng-model="input.feed1" ng-change="getParamsFromInputFeed1()" ng-disabled="feeds.length == 0">
          <option ng-repeat="item in feeds">{{item}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          {{text.additive}}
        </div>
        <select ng-model="input.additive1" ng-change="getParamsFromInputAdditive1()" ng-disabled="additives.length == 0">
          <option ng-repeat="item in additives">{{item}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          {{text.feed2}}
        </div>
        <select ng-model="input.feed2" ng-change="getParamsFromInputFeed2()" ng-disabled="feeds.length == 0">
          <option ng-repeat="item in feeds | filter : feed2Filter">{{item}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          {{text.additive}}
        </div>
        <select ng-model="input.additive2" ng-change="getParamsFromInputAdditive2()" ng-disabled="additives.length == 0">
          <option ng-repeat="item in additives">{{item}}</option>
        </select>
      </label>

    </div>
    <div>
      <br>
      <center>
        <button class="button button-positive" ui-sref="results" ng-click="compare()" ng-disabled="!compEnabled()">
          {{text.compare}}
        </button>
        <ion-spinner ng-if="control.spinner"></ion-spinner>
      </center>
      <br>
      <br>
      <br>
    </div>
  </ion-content>
</ion-view>
