<ion-view view-title="{{text.appName}}" cache-view="false">
  <ion-content>
    <br>
    <center>
      <button class="button button-positive" ui-sref="main">
        {{text.newComparison}}
      </button>
    </center>
    <br>

    <span ng-if="comp.feedProfit > 0">
      <br>
      <center>
        <div class="card-result">
            {{text.increaseFeedProfit}}<br><br>
            <span ng-if="comp.feedProfit < 0" class="comp-red">{{comp.feedProfit}}</span><span ng-if="comp.feedProfit > 0" class="comp-green"> +{{comp.feedProfit}}</span>
            <br>
        </div>
      </center>
      <br><br>
    </span>

    <div class="table">
      <div class="row">
        <div class="col col-50 item-divider-custom"></div>
        <div class="col item-divider-custom"><center>{{text.feed1}}<br>{{input.feed1}}</center></div>
        <div class="col item-divider-custom"><center>{{text.feed2}}<br>{{input.feed2}}</center></div>
      </div>
      <div class="row row-custom">
        <div class="col col-50">{{text.feedPrice}}</div>
        <div class="col col-custom"><center>{{comp.feed1Price}}</center></div>
        <div class="col"><center>{{comp.feed2Price}}</center></div>
      </div>
      <div class="row row-custom">
        <div class="col col-50">{{text.feedProfit}}</div>
        <div class="col col-custom"><center>{{comp.feed1Profit}}</center></div>
        <div class="col"><center>{{comp.feed2Profit}}  <span ng-if="comp.feedProfit < 0" class="comp-red">{{comp.feedProfit}}</span><span ng-if="comp.feedProfit > 0" class="comp-green">+{{comp.feedProfit}}</span></center></div>
      </div>
      <div class="row row-custom" ng-if="input.type == 'taurillon'">
        <div class="col col-50">{{text.fedPerPlace}}</div>
        <div class="col col-custom"><center>{{comp.fedPerPlace1}}</center></div>
        <div class="col"><center>{{comp.fedPerPlace2}}</center></div>
      </div>
      <div class="row row-custom" ng-if="input.type == 'taurillon'">
        <div class="col col-50">{{text.placeProfit}}</div>
        <div class="col col-custom"><center>{{comp.placeProfit1}}</center></div>
        <div class="col"><center>{{comp.placeProfit2}}</center></div>
      </div>
      <div class="row row-custom">
        <div class="col col-50">{{text.fatteningDays}}</div>
        <div class="col col-custom"><center>{{comp.fatteningDay1}}</center></div>
        <div class="col"><center>{{comp.fatteningDay2}}  <span ng-if="comp.fatteningDayReduction < 0" class="comp-green">{{comp.fatteningDayReduction}}</span><span ng-if="comp.fatteningDayReduction > 0" class="comp-red">+{{comp.fatteningDayReduction}}</span></center></div>
      </div>
    </div>
    <div ng-if="!control.paramPanel">
      <div class="list item-divider-custom /*list-inset*/">
        <a class="item item-divider-custom item-icon-right" href="" ng-click="toggleParams()">
          {{text.parameters}}
          <i class="icon ion-plus-circled"></i>
        </a>
      </div>
    </div>
    <div ng-if="control.paramPanel">
      <div class="list item-divider-custom /*list-inset*/">
        <a class="item item-divider-custom item-icon-right" href="" ng-click="toggleParams()">
          {{text.parameters}}
          <i class="icon ion-minus-circled"></i>
        </a>
      </div>
      <div class="table">
        <div class="row">
          <div class="col col-50 item-divider-custom"></div>
          <div class="col item-divider-custom"><center>{{text.feed1}}<br>{{input.feed1}}</center></div>
          <div class="col item-divider-custom"><center>{{text.feed2}}<br>{{input.feed2}}</center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.cornSilage}}<br><span class="item-note">{{text.paramsUnit1}}<br><br>{{text.paramsUnit2}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.cornSilage[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed1.cornSilage[1]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.cornSilage[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed2.cornSilage[1]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.cereal}}<br><span class="item-note">{{text.paramsUnit1}}<br><br>{{text.paramsUnit2}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.cereal[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed1.cereal[1]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.cereal[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed2.cereal[1]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.aliment36}}<br><span class="item-note">{{text.paramsUnit1}}<br><br>{{text.paramsUnit2}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.aliment36[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed1.aliment36[1]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.aliment36[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed2.aliment36[1]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.aliment25}}<br><span class="item-note">{{text.paramsUnit1}}<br><br>{{text.paramsUnit2}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.aliment25[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed1.aliment25[1]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.aliment25[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed2.aliment25[1]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.alimentComplete}}<br><span class="item-note">{{text.paramsUnit1}}<br><br>{{text.paramsUnit2}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.alimentComplete[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed1.alimentComplete[1]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.alimentComplete[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed2.alimentComplete[1]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.forage}}<br><span class="item-note">{{text.paramsUnit1}}<br><br>{{text.paramsUnit2}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.forage[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed1.forage[1]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.forage[0]" ng-keypress="closeKeyboard($event)"><input type="number" ng-model="params.feed2.forage[1]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom" ng-if="input.additive1">
          <div class="col col-50">{{input.additive1}}<br><span class="item-note">{{text.paramsUnitAdditive}}</span></div>
          <div class="col col-custom"><center><br><input type="number" ng-model="params.feed1.additive[0]" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"></div>
        </div>
        <div class="row row-custom" ng-if="input.additive2">
          <div class="col col-50">{{input.additive2}}<br><span class="item-note">{{text.paramsUnitAdditive}}</span></div>
          <div class="col col-custom"></div>
          <div class="col"><center><br><input type="number" ng-model="params.feed2.additive[0]" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
        <div class="row row-custom">
          <div class="col col-50">{{text.sanitaryPeriod}}</span></div>
          <div class="col col-custom"><center><input type="number" ng-model="params.feed1.sanitaryPeriod" ng-keypress="closeKeyboard($event)"></center></div>
          <div class="col"><center><input type="number" ng-model="params.feed2.sanitaryPeriod" ng-keypress="closeKeyboard($event)"></center></div>
        </div>
      </div>

      <br><br>
      <center>
        <button class="button button-positive" ng-click="recalculate()">
          {{text.recompute}}
        </button>
      </center>
      <br><br>
    </div>
    <br>
    <br>
    <br>
  </ion-content>
</ion-view>
