:root {
  --primary-blue: #009bff;
  --dark-gray: #3c454e;
  --medium-gray: #7d858d;
  --light-gray: #d2d2d3;
  --primary-red: #de242f;
}

body {
  font-family: Arial;
}

.login {
  max-width: 400px;
  margin-top: 50px;
}

.login-panel {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.table {
  color: #444;
}

.col {
  /*border: 1px solid black;*/
  border-style: none;
  /*border: solid 1px rgb(125, 133, 141);*/
  margin-top: -1px;
  margin-right: -1px;
  background-color: white;
}

.col-custom,
.col-custom input {
  background-color: rgb(240, 240, 241);
}

.col, .col-50 {
  /*padding-top: 10px;*/
}

.item-divider-custom {
  /*border-style: none;*/
  border-style: solid 1px;
  border-color: rgb(125, 133, 141);
  background-color: rgb(0, 155, 255);
  color: #fff;
}

.item-divider-custom.active, .item-divider-custom.activated {
  border-color: #a2a2a2;
  background-color: rgb(0, 115, 255);
}

.item p {
  color: #444;
}

.col {
  border-color: #ddd;
}

.col input {
  text-align: center;
  color: #444;
}

.input-right {
  position: absolute;
  right: 0px;
}

.input-right input {
  text-align: right;
}

.price-type {
  border-top: none;
}

.comp-green {
  color: #fff;
  background-color: green;
}

/*@-webkit-keyframes card-green {*/
  /*0% {*/
    /*background-color: white;*/
    /*color: white;*/
  /*}*/
  /*10% {*/
    /*background-color: white;*/
    /*color: white;*/
  /*}*/
  /*100% {*/
    /*background-color: green;*/
    /*color: #fff;*/
  /*}*/
/*}*/

.card-result .comp-green {
  color: #fff;
  background-color: green;
  -webkit-animation-name: card-green;
  -webkit-animation-duration: 4s;
}

.comp-red {
  color: #fff;
  background-color: red;
}

body.keyboard-open .has-footer {
  bottom: 0;
}

@-webkit-keyframes card {
  0% {
    border-color: white;
    color: white;
  }
  10% {
    border-color: white;
    color: white;
  }
  100% {
    border-color: #99d9ea;
    box-shadow: 2px 2px 5px #c3c3c3;
  }
}

.header {
  /*we use animation fill mode forwards to let box-shadow property after animation completes*/
  animation-fill-mode: forwards;
  margin:auto;
  border-radius: 10px;
}

.container-card {
  display: flex;
  margin-top: 50px;
}

.card-result {
  width: 40%;
  min-width: 200px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: #444;
  /*background-color: rgb(210, 210, 211);*/
  /*border: 3px solid rgb(0, 155, 255);*/
  border: 2px solid #99d9ea;
  /*border-radius: 5px;*/
  font-size: 1.3em;
  -webkit-animation-name: card;
  -webkit-animation-duration: 4s;
}


@-webkit-keyframes myFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;}
}

.feed-profit-header-title {
  font-size: 25px;
  color: var(--dark-gray);
  -webkit-animation-name: myFadeIn;
  -webkit-animation-duration: 4s;
}

.feed-profit-header-value {
  font-size: 30px;
  margin-top: 20px;
  -webkit-animation-name: myFadeIn;
  -webkit-animation-duration: 3s;
}

.fattening-days-header-title {
  font-size: 18px;
  color: gray;
  margin-top: 20px;
  -webkit-animation-name: myFadeIn;
  -webkit-animation-duration: 4s;
}

.fattening-days-header-value {
  font-size: 22px;
  margin-top: 10px;
  -webkit-animation-name: myFadeIn;
  -webkit-animation-duration: 3s;
}

.card-result {
  /*background-color: white;*/
  justify-content: center;
}

.card-result span {
  font-size: 150%;
}

.faq h2 {
  text-align: center;
  background-color: rgb(0, 155, 255);
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.faq h4 {
  color: rgb(0, 155, 255);
}

.faq p {
  color: #444;

}

/* override some ionic.css styles*/

.bar.bar-dark {
  border-color: #111;
  background-color: var(--dark-gray);
  color: #fff;
}

.button.button-positive {
  background-color: rgb(0, 155, 255);
}

.button.button-positive.active, .button.button-positive.activated {
  border-color: #a2a2a2;
  background-color: rgb(0, 115, 255);
}

.button.button-positive.button-clear {
  color: rgb(0, 115, 255);
}

.button.button-positive.button-outline {
  border-color: rgb(0, 115, 255);
  color: rgb(0, 115, 255);
}

.button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
  background-color: rgb(0, 115, 255);
}

.item-checkbox {
  border-style: none;
  white-space: normal;
  overflow: visible;
  padding-top: 6px;
  padding-bottom: 10px;
}

.checkbox input:before,
.checkbox .checkbox-icon:before {
  border-color: #ddd;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: rgb(0, 155, 255);
  border-color: rgb(0, 155, 255);
}

.item-content {
  white-space: normal;
}

label.disabled,
label[disabled] {
  opacity: .4;
  cursor: default;
  pointer-events: none;
}

.item input[type=number] {
  width: 8em;
}

.row input[type=number] {
  width: 5em;
}

select option:empty {
  display: none
}

ion-checkbox {
  float: right;
}

.item-select select {
  white-space: normal;
}

@media screen and (max-height: 480px) {
  .login {
    margin-top: 25px;
  }

  .login-panel {
    margin-top: 50px;
  }
}

@media screen and (min-height: 1024px) {
  .login {
    margin-top: 100px;
  }

  .login-panel {
    margin-top: 200px;
  }
}

/*@media screen and (min-width: 768px) and (max-width: 1278px) {*/
@media screen and (min-width: 768px) {
  .list .item-divider,
  .input-label,
  .item-select select,
  .input-right input,
  .button,
  .card-result,
  .row,
  .faq h4,
  .faq p,
  .row-custom {
    font-size: 150%;
  }

  .item-checkbox,
  .item-divider-custom {
    font-size: 120%;
  }

  .item-note {
    font-size: 100%;
  }

  .row-custom input {
    font-size: 100%;
    height: 2.0em;
  }

  .faq h4,
  .faq p,
  .row,
  .item-divider {
    line-height: 120%;
  }

  .card-result {
    font-size: 170%;
    line-height: 110%;
  }

  a,
  .item-input input {
    font-size: 120%;
  }

  .login {
    max-width: 500px;
  }

  .login input {
    height: 1.7em;
  }

  .col, .col-50 {
    /*padding-top: 12px;*/
  }

  .bar {
    height: 54px;
  }
}

@media screen and (min-height: 1024px) {
  .login {
    margin-top: 100px;
  }

  .login-panel {
    margin-top: 200px;
  }
}

.result-header {
  padding: 20px;
  text-align: center;
  display: flex;
}

.fattening-days {
  flex: 0.5;
}

.feed-profit {
  flex: 0.5;
}

.result-header-title {
  font-size: 18px;
  color: var(--medium-gray);
}

.result-header-value {
  /*font-size: 40px;*/
}

.value-fattening-days {
  font-size: 32px;
  white-space: nowrap;
}

.value-feed-profit {
  font-size: 42px;
  white-space: nowrap;
}

.positive-value {
  color: var(--primary-blue);
}

.negative-value {
  color: var(--primary-red);
}

.parameters-title-expanded {
  font-size: 19px;
  padding-left: 5px;
  color: var(--dark-gray);
}

.parameters-title-collapsed {
  font-size: 19px;
  padding-left: 5px;
  color: var(--dark-gray);
  white-space: nowrap;
}

.header-app {
  background-color: var(--dark-gray);
}

.result-feed-ration-title1 {
  color: var(--dark-gray);
  margin: auto;
  text-align: center;
}

.result-feed-ration-container1 {
  background-color: var(--light-gray);
  display: flex;
}

.result-feed-ration-title2 {
  color: white;
  text-align: center;
  margin:auto;
}

.result-feed-ration-container2 {
  background-color: var(--primary-blue);
  display: flex;
}

.below-result-header {
  margin-top: 120px;
}

.pannel-detail-result {
  margin-bottom: 15px;
}

.col-title {
  padding: 0 !important;
  margin-left: 2.5px;
}

.capitalize {
  text-transform: capitalize;
}

.additive-name {
  font-size: 12px;
}

